.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 45px;
    background-color: var(--background);
    color: var(--text);
    position: sticky;
    top: 0;
}
.logo{
    flex: 1;
    padding-left: 30px;
}
.searchContent{
    flex: 2;
    display: flex;
    gap: 10px;
}
.inputContainer{
    display: flex;
    align-items: center;
    background-color: var(--foreground);
    border-radius: 8px;
    padding: 5px 10px;
    flex: 1;
}
.arrows{
    display: flex;
    gap: 10px;
}
.arrowLeft{
    cursor: pointer;
}
.arrowRight{
    transform: rotate(180deg);
    cursor: pointer;
}

.input{
width: 100%;
background-color: transparent;
border: none;
outline: none;
padding-left: 10px;
}
.input::placeholder{
    color: var(--text);
    font-size: 14px;
}

.iconsContent{
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
    height: inherit;
    
}
.icons{
    display: flex;
    align-items: center;
    gap: 10px;
}
.icons .icon{
   padding: 5px;
   border-radius: 3px;
   transition: background-color .6s ease;
   position: relative;
}
.icons .icon:hover{
   background-color:var(--foreground) ;
}


.iconMore, .iconUser{
    cursor: pointer;
}

/* .icon{
    position: relative;
} */

/* Popup Menu */
.popupMenu{
    background-color: var(--foreground);
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;    position: absolute;
    top: 105%;
    border-radius: 8px;
    padding: 8px 0px;
    border: 1px solid #5f5f5f33;
    width: max-content;
    z-index: 1000;
    left: 50%;
    transform: translateX(-50%);


}
.popupMenu ul{
    list-style: none
}
.popupMenu ul li{  
     cursor: pointer;
     display: flex;
     justify-content: space-between;
     align-items: center;
}


.popupMenu ul li .items{
    display: flex;
    gap: 8px;
    white-space: nowrap;
    padding: 8px;
    border-radius: 4px;
    width: 100%;
    margin: 0px 8px;
}
.popupMenu ul li .items:hover{
    background-color: #494949dc;

}
.withNew{
    border-radius: 4px;
    padding: 8px;
    margin: 0 5px;
}
.withNew:hover{
    background-color: #494949dc;
}

.withNew .itemsWithNew{
    display: flex;
    gap: 8px;
    border-radius: 4px;
    width: 100%;
}
.popupMenu ul li .items span{
    font-size: 13px;
    color:#dbe5efe1;
  }

.popupMenu ul li .bordered{
    display: flex;
    justify-content: space-between;
    width: 100%;

}


.bordered span{
    font-size: 13px;
}

.zoom{
    display: flex;
    gap: 14px;
}
.zoom span{
    font-size: 14px;

}
.ZomIcons{
    cursor: pointer;
}

.listZoom{
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    padding: 8px 16px;
    cursor: initial;
    margin: 4px 0px;
}

.new{  
    padding: 1px 6px;
    border-radius: 10px;
    background-color: rgb(89, 40, 181);
}

    .new span{  
    font-size: 10px;
    font-weight: bold;
    color: white;
}

.btns{
    display: flex;
    align-items: center;
    gap: 10px;
    height: inherit;
}
.user{
    display: flex;
    align-items: center;
    gap: 10px;
}

.popupUserMenu{
    display: flex;
    flex-direction: column;
    position:absolute;
    border-radius: 20px;
    box-shadow: #00000054 0px 5px 15px 0px;    position: absolute;
    top: 140%;
    width: 300px;
    z-index: 10;
    left: 50%;
    transform: translateX(-50%);

}

.popupUserMenu .topUser{
    padding: 10px 25px 12px 15px;
    background-color: var(--foreground);
    
}
.popupUserMenu .topUser span{
 font-size: 13px;
 font-weight: 500;
    
}
.popupUserMenu .bottomUser{
    display: flex;
    gap: 15px;
    padding: 25px;
    align-items: center;
    background-color: var(--container);
}
.popupUserMenu .bottomUser span{
    font-size: 13px;

}

.avatar{
    width: 30px;
    height: 30px;
    background-color:#dbbcd4;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

}

.username{
    font-size: 12px;
    font-weight: 200;
    cursor: pointer;
    padding: 3px 10px;
    border-radius: 3px;
    transition:background-color .7s ease ;
}
.username:hover{
  background-color:var(--foreground) ;

}
.userinitial{
    font-size: 11px;
    font-weight: 600;
    cursor: pointer;
    color: #340e01d6;
}

.btnIcon{
    cursor: pointer;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btnIcon:hover{
    background-color: var(--foreground);
    width: 40px;
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: center;

}
.btnIconClose{
    cursor: pointer;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btnIconClose:hover{
    background-color: #c70d0db6;
    width: 40px;
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: center;

}



