.container{
    display: flex;
    padding: 5px;
    width: 100%;

}

.rootmenu{
    flex: 2;
    /* border-left: 1px solid var(--foreground); */


}
.rootcontent{
    flex: 5;
    border-radius: 10px;
    background-color: var(--container);

}